$base-color: white;
$color: #000033;
$font-family: 'Helvetica Neue';
$panel-body-background-color: $base-color;
$panel-header-color: $color;
$window-border-width: 1px;
$window-border-color: $color;
$panel-header-padding: 10px 10px;