.product-list {
    
    .empty {
        padding: 10px;
    }
}

.product {
    float: left;
    width: 225px;
    height: 225px;
    position: relative;
    margin: 10px;

}

.product img {
    width: 225px;
}

.product h2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 10px;
    width: 225px;
    text-overflow: ellipsis;
}

.product p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: right;
}